go 1.22

use (
	./libs/proto
	./shell
)

// Future modules join as they come online (each adds its own go.mod):
//   ./term
//   ./plugins/cloud
//   ./plugins/ollama
//   ./plugins/wasm
//   ./plugins/remote
//   ./libs/cache
//   ./libs/history
